@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;600;700;800;900&family=Podkova:wght@400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 0;
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
    line-height: 0.8;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a, a:hover{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* common css end */

header{
    background: #FAE3B6;
    padding: 20px 0;
}
.navbar-nav .nav-item{
    margin: 10px;
}
.navbar-nav .nav-item .nav-link:hover{
    color: rgba(0, 0, 0, 0.664);
}
.navbar-nav .nav-item .nav-link,
.menu_right_link a{
    font-size: 18px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.menu_right_link a{
    padding: 7px 18px;
    border: 1px solid #FFD687;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
            box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    margin-right: 20px;
    border-radius: 10px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.menu_right_link a:hover{
    background: #FDBB57;
    border: 1px solid #FDBB57;
}
.menu_right_link a:last-child{
    padding: 7px 18px;
    border-radius: 10px;
    margin-right: 0px;
}

/* header end */

.banner_section{
    padding: 80px 0;
    background: #FAE3B6;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.banner_content h1{
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;

}
.banner_content p{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 55px;

}
.banner_content button{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0em;
    padding: 13px 35px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: #000000;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.banner_content button:hover{
    background: #FDBB57;
    color: #000;
}

.banner_img{
    position: relative;
    z-index: 1;
}
.banner_img img{
    width: 90%;
}
.banner_img_overlay{
    position: absolute;
    bottom: -20px;
    left: -50px;
    z-index: -1;
}
.banner_img_overlay img{
    width: auto;
}

/* banner end */

.collection{
    padding: 100px 0;
    background: #fff;
}
.collection_title{
    text-align: center;
    margin-bottom: 90px;
}
.collection_title h2{
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 64px;
    font-weight: 700;

}

.collection_img{
    position: relative;
    margin-bottom: 25px;
}
.collection_img img{
    width: 100%;
}
.collection_img_overly{
    background: #fff;
    position: absolute;
    bottom: 25px;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    width: 85%;
    height: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 20px;
}
.collection_img_overly h4{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;

}
.collection_last_child{
    width: 100%;
}
.collection_last_child img{
    width: 100%;
    height: 400px;
}

/* collection end */

.fashion_section{
    padding: 80px 0 200px;
    background: #fff;
    
}
.fashion_img{
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 30px;
}
.fashion_img img{
    width: 85%;
}
.fashion_img_overly{
    position: absolute;
    top: -62px;
    right: 5px;
    z-index: -2;
}
.fashion_img_overly img{
    width: auto;
}

.fashion_content h2{
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 55px;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;
    color: #000;
}
.fashion_content p{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;

}

.fashion_last_content{
    background-color: #FEECC8;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 20px;
    position: relative;
    top: -60px; 
}
.fashion_items{
    text-align: center;
    margin: 0 20px;
    padding: 42px 0;
}
.fashion_items h4{
    font-family: 'Podkova', serif;
    font-size: 54px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
    margin-bottom: 17px;
}
.fashion_items p{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    
}
.fashion_items_border{
    border-right: 1px solid #000;
    padding-right: 20px;
}

/* fashion end */

.sell_section{
    padding: 80px 0;
    background: #CFA485;
    position: relative;
}
.sell_img_points{
    position: absolute;
    top: -100px;
    left: 20%;
}
.sell_content_left h2{
    color: #FFF;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 57px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.sell_content_left p{
    color: #FFF;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 35px;
}
.sell_content_left button{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0em;
    padding: 13px 35px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: #000000;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.sell_content_left button:hover{
    background: #FDBB57;
    color: #000;
}
.sell_img{
    width: 100%;
}
.sell_img img{
    width: 100%;
}

.sell_img_bottom{
    background-color: #fff;
    padding: 20px 30px;
}
.sell_bottom_icons i{
    color: #FFAF37;
}
.sell_img_bottom h4{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
    margin-top: 10px;
}
.sell_img_bottom span.blur{
    color: #C4C4C4;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 35px;
}
.sell_img_bottom span{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* selling end */

.project_section{
    padding: 80px 0;
    background: #FFFFFF;
}
.project_title{
    text-align: center;
    margin-bottom: 25px;
}
.project_buttons{
    text-align: center;
    margin-bottom: 30px;
}
.project_title h2{
    color: #000;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.project_buttons button{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: transparent;
    border: none;
    margin: 0 15px;
    text-transform: uppercase;
    position: relative;
}
.project_buttons button::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.project_buttons button:hover::after{
    width: 100%;
}
.project_items{
    width: 100%;
}
.project_items img{
    width: 100%;
}
.project_img_bottom{
    background: #fff;
    padding: 15px 20px;
}
.project_img_bottom h4{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.project_img_bottom span.blur{
    color: #C4C4C4;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 30px;
}
.project_img_bottom span{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.project_bottom_icons i{
    color: #FFAF37;
    font-size: 16px;
}

/* project end */

.day_section{
    background: #fff;
}
.day_full_items{
    background: #FAE3B6;
    padding: 80px 0;
    border-radius: 30px;
}

.day_right_img{
    width: 100%;
    position: relative;
    z-index: 1;
}
.day_right_img img{
    width: 100%;
}
.day_right_img_points {
	position: absolute;
	bottom: -100px;
	left: -88px;
    z-index: -1;
}
.day_right_img_points img{
    width: auto;
}
.day_left_content h2{
    color: #000;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}
.day_left_content p{
    color: #000;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.day_left_content ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.day_left_content ul li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px 30px 30px 0;
    background: #fff;
    padding: 10px 22px;
    text-align: center;
}
.day_left_content ul li span{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.day_left_content ul li span.day_left_span_num{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.day_left_content button{
    background: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    padding: 12px 35px;
    text-transform: uppercase;
    border-radius: 10px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.day_left_content button:hover{
    background: #FDBB57;
    color: #000;
}

/* say people start */
.say_people{
    background: #fff;
    padding: 60px 0;
}
.say_title{
    text-align: center;
    margin-bottom: 35px;
}
.say_title h2{
    color: #000;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.say_title p{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.say_people_slider_item{
    width: 90% !important;
    background: #FEECC8;
    margin: 30px auto !important;
    padding: 40px 30px;

}
.say_people_slider_item h4{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 13px;
}
.say_people_slider_item p{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}
.say_people_slider_item_img{
    text-align: center;
    
}
.say_people_slider_item_img img{
    margin: 0 auto 10px;
}
.say_people_slider_item_img h3{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.say_people_slider_item_img p{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.slick-dots{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
}
.slick-dots li{
    font-size: 0;
    background-color: transparent;
    margin: 10px 2px;
}
.slick-dots li button{
    display: inline-block;
    width: 15px;
    height: 15px;
    border:1px solid #000000;
    background-color: transparent;
    border-radius: 50%;
}
.slick-dots .slick-active{
    background-color: #000;
    border-radius: 50%;
}
/* say people end */

/* image section start */

.img_item{
    height: 328px !important;
}
.img_item img{
    width: 100% !important;
    height: 100%;
}

/* image section end */

/* last_menu_section start */
.last_menu_section{
    padding: 20px 0 60px;
    background: #000;
}
.last_menu_title{
    padding: 17px 35px;
    background: rgba(255, 255, 255, 0.90);
    display: inline-block;
    border-radius: 10px;
    position: relative;
    left: 50%;
    top: -50px;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
}
.last_menu_title h3{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.last_menu_navbar a{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 18px;
}
/* last_menu_section end */

/* contact section start */
.contact_section{
    background: #fff;
}
.contact_left{
    text-align: center;
    width: 85%;
    margin: 50px auto;
}

.contact_left_title{
    text-align: center;
}
.contact_left_title h3{
    color: #000;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}
.contact_left_title p{
    color: #868686;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}
.contact_left_title p a{
    color: #F59C15;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.contact_left_title span{
    position: relative;
    color: #000;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.contact_left_title span.contact_title_border:first-child::after{
    content: '';
    display: block;
    width: 200px;
    background: #C4C4C4;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 150px;
    -webkit-transform:translate(-50%);
        -ms-transform:translate(-50%);
            transform:translate(-50%)
}
.contact_left_title span.contact_title_border:last-child::after{
    content: '';
    display: block;
    width: 200px;
    background: #C4C4C4;
    height: 2px;
    position: absolute;
    top: 50%;
    right: -55px;
    -webkit-transform:translate(-50%);
        -ms-transform:translate(-50%);
            transform:translate(-50%)
}
.contact_left_buttons{
    margin: 30px 0;
}
.contact_left_buttons button{
    padding: 10px 25px;
    border: none;
    outline: none;
    border-radius: 20px;
    background: #F4F4F4;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-right: 10px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.contact_left_buttons button:hover{
    background: #4946E5;
    color: #fff;
   
}
.contact_left_buttons button i{
    margin-right: 8px;
    font-size: 20px;
}


.form_items{
    text-align: left;
    margin-bottom: 20px;
}
.form_items input{
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 20px;
    border: 1px solid #C5C5C5;
    height: 55px;
    padding: 0 30px;
}
.form_items label{
    margin-bottom: 10px;
    margin-left: 8px;
    color: #868686;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.password_section{
    position: relative;
}
.form_items_icons{
    position: absolute;
    top: 58%;
    right: 8px;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
}
.form_items_icons i{
    font-size: 25px;
    color: #868686;
    cursor: pointer;
}
.form_item_checkbox{
    text-align: left;
    color: #868686;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.form_item_checkbox span{
    color: #F59C15;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.form_item_checkbox input{
    margin-right: 10px;
}
button.form_button{
    padding: 10px 105px;
    border-radius: 20px;
    background: #FAE3B6;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    color: #000;
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 35px;
}
.contact_right{
    position: relative;
}
.contact_right img{
    width: auto;
}
.contact_right_img_logo{
    position: absolute;
    top: 35px;
    right: 90px;
}
.contact_right_img_logo img{
    height: 100%;
}
/* contact section end */

footer{
    text-align: center;
    background: #000;
    padding: 35px 0;
}
footer h3{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}